
# Prefer US English and use UTF-8
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# Android
export ANDROID_HOME=~/Library/Android/sdk

#Emscripten
export PATH=$PATH:/opt/emsdk_portable:/opt/emsdk_portable/clang/e1.16.0_64bit:/opt/emsdk_portable/node/0.10.18_64bit/bin:/opt/emsdk_portable/emscripten/1.16.0

#PHP
export PATH=$PATH:/Applications/MAMP/bin/php/php5.4.10/bin

#Misc
export THEOS=/opt/theos

#Brew
export HOMEBREW_GITHUB_API_TOKEN=ec5845e7e480684a13ce6350b133c3047baf145c

#CocoaPods
export POD_LOCAL_HOME=~/Development/PodsLocal
